<a href="/brews">Brews Index</a> |
<a href="/breweries">Breweries Index</a> |
<a href="/boozes">Booze Index</a> |
<a href="/manufacturers">Manufacturers Index</a>
<h1><%= @brew.name %></h1>
<p>Brewed by: <%= @brew.brewery.name %></p>
<p>ABV: <%= @brew.abv %></p>
<p>Type: <%= @brew.beer_type %></p>
<p>Gluten free? <%= @brew.gluten_free %></p>
<p>Currently on tap? <%= @brew.on_tap %></p>
<%= link_to "Update Brew", "/brews/#{@brew.id}/edit" %>
<%= link_to "Delete Brew", "/brews/#{@brew.id}", method: :delete %>
