<a href="/brews">Brews Index</a>
<a href="/breweries">Breweries Index</a>
<a href="/boozes">Booze Index</a>
<a href="/manufacturers">Manufacturers Index</a>
<h1>List of Liquor's Created By: <%= @manufacturer.name %></h1>
<% @boozes.each do |booze| %>
  <h3><%= booze.name %></h3>
  <p>ABV: <%= booze.abv %></p>
  <p>Proof: <%= booze.proof %></p>
  <p>Type: <%= booze.booze_type %></p>
  <p>Clear? <%= booze.clear %></p>
<% end %>
<%= link_to "Create Booze", "/manufacturers/#{@manufacturer.id}/boozes/new" %>
