<a href="/brews">Brews Index</a> |
<a href="/breweries">Breweries Index</a> |
<a href="/boozes">Booze Index</a> |
<a href="/manufacturers">Manufacturers Index</a>
<h1>Breweries</h1>
<% @breweries.order(:created_at).each do |brewery| %>
  <p><%= brewery.name %> (created at: <%= brewery.created_at %>)</p>
  <p><%= link_to "Update #{brewery.name}", "/breweries/#{brewery.id}/edit" %></p>
  <p><%= link_to "Delete #{brewery.name}", "/breweries/#{brewery.id}", method: :delete %></p>
<% end %>

<%= link_to "New Brewery", "/breweries/new" %>
