<a href="/brews">Brews Index</a>
<a href="/breweries">Breweries Index</a>
<a href="/boozes">Booze Index</a>
<a href="/manufacturers">Manufacturers Index</a>
<h1><%= @booze.name %></h1>
<p>Manufactured by: <%= @booze.manufacturer.name %></p>
<p>ABV: <%= @booze.abv %></p>
<p>Proof: <%= @booze.proof %></p>
<p>Booze Type <%= @booze.booze_type %></p>
<p>Is It Clear? <%= @booze.clear %></p>
<%= link_to "Update Booze", "/boozes/#{@booze.id}/edit" %>
